*{
    margin: 0px;
    padding:0px;
}
.header{
    width:100%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vit2.jpg);
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
}

nav img{
    width:150px;
}

nav img:hover{
    transform: scale(1.1);
    transition: 1s;
}

nav-links{
    flex:1;
    text-align: right;   

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

.name{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 160px;
    padding-left: 20px;
    width:10%;
    height:50px;
}

.credit_suisse{
    display: flex;
    flex-wrap: wrap;
}

.student{
    width:20%;
    height: 350px;
    margin:15px;
    padding:15px;
}

.stu_pic1{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5603AQFyO6e49w4ZBA/profile-displayphoto-shrink_400_400/0/1645609489416?e=1661990400&v=beta&t=-SIASdhYbw2ypeHD4HIF6-cSzTGrk5chEk8oSSQwfqQ);
}

.stu_name{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.stu_name:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.stu_pic2{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5603AQGkP2H58_oVSg/profile-displayphoto-shrink_400_400/0/1633662487383?e=1661990400&v=beta&t=ZvqOHleiwnZbffjOTl_lIUiUHhJD5CvhUZLaURxMvk0);
}

.stu_pic3{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C4E03AQH-vJMW5o4uxw/profile-displayphoto-shrink_400_400/0/1629282809140?e=1661990400&v=beta&t=JioXBQfnnupA4RCfDQN0muc9X76WInNEDq4V390kJaI);
}

.stu_pic4{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5103AQEBfqAZ7KoTwQ/profile-displayphoto-shrink_400_400/0/1584556317787?e=1661990400&v=beta&t=2_Pbw1je2vXxY5pPKL-DxVIUmu6QtYQXcH1BegaYuPY);
}

.stu_pic5{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5103AQHgiicveDWGnw/profile-displayphoto-shrink_400_400/0/1569552523311?e=1661990400&v=beta&t=QaZlokMBNq_avpHASBehzPEW_3uCHYS0wtd_kHB-LhI);
}

.stu_pic6{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5103AQHSKdfENm3ONg/profile-displayphoto-shrink_400_400/0/1570890355544?e=1661990400&v=beta&t=SELMd2HsfCI4iRysMULtl9cmT9vQtLeWtjvwvug4yXA);
}

.stu_pic7{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C4E03AQHRe5NLOG5aSw/profile-displayphoto-shrink_400_400/0/1612109471454?e=1661990400&v=beta&t=nBDj44eG1csOaMHM8kWQVl0jg16Tc8sqOuoLP6FeJzg);
}

.stu_pic8{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C4D03AQE051Rl8o4ruw/profile-displayphoto-shrink_400_400/0/1655057865964?e=1661990400&v=beta&t=1bnSyFyrWk7MeKK2D0FRI2zLZ1ja9lqTS9R_N0H8b9I);
}

.stu_pic9{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5603AQHGk-BxAjnSCg/profile-displayphoto-shrink_400_400/0/1597923705440?e=1661990400&v=beta&t=CeeY1kWDaMIlJPVMu9bxP2hCtBxopvE1_fMBWZXt1VQ);
}

.stu_pic10{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C5603AQHFG1-XHz7iAQ/profile-displayphoto-shrink_400_400/0/1604500192664?e=1661990400&v=beta&t=PWuLysaWjt-KEQ-lGauYkDh35qdRZuMBLy3SnJXn_AU);
}

.stu_pic11{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQF2I6wYEtPi5A/profile-displayphoto-shrink_400_400/0/1628013723060?e=1645660800&v=beta&t=vWFHYXQf75HGtPuTvCpTYLEGyHUeizhQ6VZ9TuVafoE);
}

.stu_pic12{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C4E03AQF2p-68KpxQCA/profile-displayphoto-shrink_400_400/0/1637333194966?e=1661990400&v=beta&t=SSjyE1jM-ST_WFVJnoKdoEla7ZMb6otwiqwPDFKJt4U);
}

.stu_pic13{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp2.licdn.com/dms/image/C4D03AQEi0zCo9TSpYw/profile-displayphoto-shrink_400_400/0/1654968708583?e=1661990400&v=beta&t=naxZ0xUjG86ui5FkKLwhzUiO5yMroa35JfWscrv95zg);
}
