*{
    margin: 0px;
    padding:0px;
}
.header{
    width:100%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vit2.jpg);
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
}

nav img{
    width:150px;
}

nav img:hover{
    transform: scale(1.1);
    transition: 1s;
}

nav-links{
    flex:1;
    text-align: right;   

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

.name{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
}

.credit_suisse{
    display: flex;
    flex-wrap: wrap;
}

.student{
    width:20%;
    height: 350px;
    margin:15px;
    padding:15px;
}
.student :hover{
    transform: scale(1.1);
    transition: 1s;
}

.stu_pic1{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQFcI3NuyeHLiw/profile-displayphoto-shrink_400_400/0/1621007550134?e=1648080000&v=beta&t=L7Ym5zadkP6JSY-tWzkHRoOfDOswGf7E2QkOsptkJWU);
}

.stu_name{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.stu_name:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.stu_pic2{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQGQx7EyfMNhSw/profile-displayphoto-shrink_400_400/0/1563240764960?e=1648080000&v=beta&t=X_oOssNrur1-cKyjW5v7H-9D9JNTWEU14IMDBOro1dA);
}

.stu_pic3{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHSLAhU89rOtQ/profile-displayphoto-shrink_400_400/0/1589091962270?e=1648080000&v=beta&t=dSSPzbwTO4clLtVk48dwj1E-XoOts5_WmDFQzCenhpw);
}

.stu_pic4{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQHzx8893gHphA/profile-displayphoto-shrink_400_400/0/1604165881322?e=1648080000&v=beta&t=h7NeawdioBvmvTlMT--vlBaeQtVFE0HKY8S8nj09Rwg);
}

.stu_pic5{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQFhd9mbdaVnfg/profile-displayphoto-shrink_400_400/0/1559630544469?e=1648080000&v=beta&t=JAPnSkoQVnr940_8niwwQKttvw9r63WTW8mzCqQs4Gk);
}

.stu_pic6{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQG0DtOB1FEoKg/profile-displayphoto-shrink_400_400/0/1628823708212?e=1648080000&v=beta&t=BZ4iznRYPg7iNxpquko79VmfX1IYepM3ATRiiidSoI8);
}

.stu_pic7{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQHwiRd_J11mGQ/profile-displayphoto-shrink_400_400/0/1570881976535?e=1648080000&v=beta&t=l3Js_wADhL2pqEY5MgoHCVJaRpydfcXHSkPiNOFCFcg);
}

.stu_pic8{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQG0wUqXvxbmRA/profile-displayphoto-shrink_800_800/0/1590247419748?e=1638403200&v=beta&t=tiiaY7GZKQkA3MWAIi4J6u392kDzAdVe7iJVK0ct71s);
}

.stu_pic9{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHGRbaIINlfGA/profile-displayphoto-shrink_400_400/0/1589124293151?e=1648080000&v=beta&t=IA49fVM71uis20A5iJ67oCaY4h0-yUDB0aiSMI_2QvI);
}

.stu_pic10{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQH8uDki6yrXBg/profile-displayphoto-shrink_400_400/0/1627585747212?e=1648080000&v=beta&t=feKogqLiGo684wo5BC2khUKQQYWwkqikHJWdtA7IkGI);
}

.stu_pic11{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: urlhttps://media-exp1.licdn.com/dms/image/C5603AQGvLyzQhAqthQ/profile-displayphoto-shrink_400_400/0/1591034270211?e=1648080000&v=beta&t=3k5pYDrBqLdIFoUsFUj9SdOOtMAMLsYwQ1QWZAEqfBc);
}

.stu_pic12{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQGoqe5L-aQGyg/profile-displayphoto-shrink_400_400/0/1517597812815?e=1648080000&v=beta&t=oTTzenvtCd17F1wwJRKpkch6lsS5M_Uipknw-NAlCS0);
}

.stu_pic13{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQHmYztTuy7xNg/profile-displayphoto-shrink_400_400/0/1570969367557?e=1648080000&v=beta&t=A8ZoqZFslpu3D6YW48HC48aAgf80StfJMyEra2E5vxU);
}
