*{
    margin: 0px;
    padding:0px;
}
.header{
    width:100%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vit2.jpg);
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
}

nav img{
    width:150px;
}

nav img:hover{
    transform: scale(1.1);
    transition: 1s;
}

nav-links{
    flex:1;
    text-align: right;   

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

.name{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 160px;
    padding-left: 20px;
    width:10%;
    height:50px;
}

.credit_suisse{
    display: flex;
    flex-wrap: wrap;
}

.student{
    width:20%;
    height: 350px;
    margin:15px;
    padding:15px;
}

.stu_pic1{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQGDzpeCj8jlow/profile-displayphoto-shrink_400_400/0/1655791377154?e=1661990400&v=beta&t=VWTCtJ5-LNLDjKhkcaly42dOTqTzCfEe4lSIjy09D5Y);
}

.stu_name{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.stu_name:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.stu_pic2{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQF-85RWBlHFEw/profile-displayphoto-shrink_400_400/0/1522747984895?e=1661990400&v=beta&t=wXxLZTlLAeikK57SfrKWQxqhUcEyicBWRQtesum2lMk);
}

.stu_pic3{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQGIBtgWMCu7sw/profile-displayphoto-shrink_400_400/0/1650602838443?e=1661990400&v=beta&t=faBy_oZRx016VRp0gDWXatcmF9caNomWbyNHe4NVXJg);
}

.stu_pic4{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQGO_D3FvvDcug/profile-displayphoto-shrink_400_400/0/1598255333377?e=1661990400&v=beta&t=ZXpndVw9-7Bf5NUl1oQa3HTR4clLLOMuydnuAbZHmBg);
}

.stu_pic5{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQG6PXHx1ifxYw/profile-displayphoto-shrink_400_400/0/1623170101055?e=1661990400&v=beta&t=OAVp3Gl2CODYorxUKkFfV6n0ND4sxkNYlB1u4UGmwj0);
}

.stu_pic6{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQETL9yUH8vWEg/profile-displayphoto-shrink_400_400/0/1654753793141?e=1661990400&v=beta&t=V552ifpC6V4iLH--zScmbq7Pk3CdCYtj_eMaPa8avK8);
}

.stu_pic7{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQG1z3Ues2AyMw/profile-displayphoto-shrink_400_400/0/1561084943620?e=1661990400&v=beta&t=QctNPGkqtB5IzUws-miJGcDyzVAAjmv_NM8kzjG6kC8);
}

.stu_pic8{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQG0wUqXvxbmRA/profile-displayphoto-shrink_800_800/0/1590247419748?e=1638403200&v=beta&t=tiiaY7GZKQkA3MWAIi4J6u392kDzAdVe7iJVK0ct71s);
}

.stu_pic9{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQGrEWv0zzOgCA/profile-displayphoto-shrink_400_400/0/1592409905410?e=1661990400&v=beta&t=7tG9ymmAaoD0PKbywQog1KuoePu8fFF6r4CAUYCyqvc);
}

.stu_pic10{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQEgHq6-MqG5mw/profile-displayphoto-shrink_400_400/0/1566135537998?e=1661990400&v=beta&t=AO3JIqfA0Tu3y-euGUAiw5zd-6M1cA1OWO7iIsuUUsg);
}

.stu_pic11{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQFTiZ_efqGU3w/profile-displayphoto-shrink_400_400/0/1652816932879?e=1661990400&v=beta&t=4O4mYs-TEraCX0Rr6zBY4XLJayQi32_z3Vop7dPLI_M);
}

.stu_pic12{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQHnuFxD31qNpQ/profile-displayphoto-shrink_400_400/0/1577066068272?e=1661990400&v=beta&t=5nyQaS0rSdoknSaM09gkad7Jy4vIbsMXyyHNBf5l2M8);
}

.stu_pic13{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQE7uzU_unBWkg/profile-displayphoto-shrink_400_400/0/1656437261854?e=1661990400&v=beta&t=mwIW1krnLirMHb0SSZG8GYkhTp2Rs0LE22phJIqdoQs);
}
