*{
    margin: 0px;
    padding:0px;
}
.header{
    width:100%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vit2.jpg);
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
}

nav img{
    width:150px;
}

nav img:hover{
    transform: scale(1.1);
    transition: 1s;
}

nav-links{
    flex:1;
    text-align: right;   

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

.name{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 160px;
    padding-left: 20px;
    width:10%;
    height:50px;
}

.credit_suisse{
    display: flex;
    flex-wrap: wrap;
}

.student{
    width:20%;
    height: 350px;
    margin:15px;
    padding:15px;
}

.stu_pic1{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQEPK2-i8-VDVA/profile-displayphoto-shrink_400_400/0/1566795832534?e=1644451200&v=beta&t=Wzq9UXrR1WZ3BVwzCdTMdwXddq06tKy9rgq8WyRlKJ8);
}

.stu_name{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.stu_name:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.intern{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 20%;
    height: 40px;
    margin-left: 600px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.intern:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.stu_pic2{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQH3GvFGyXv8mQ/profile-displayphoto-shrink_400_400/0/1548961532771?e=1644451200&v=beta&t=Wkui32AQuumqVH6kZ19Xfz0CjxJsGzaWo29DcRyHWNU);
}

.stu_pic3{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHqpzmzGvOxdw/profile-displayphoto-shrink_400_400/0/1639198218441?e=1645660800&v=beta&t=52wDn9RXeMmAYMEpHX_cfLl3pRqV7o-td1nSawWW_hc);
}

.stu_pic4{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQHMzDeAfBQqJA/profile-displayphoto-shrink_400_400/0/1597684499480?e=1644451200&v=beta&t=WJnqaQqAWHMgBbHU90sW56w-e3TTzscIq5xtJVC3Sy8);
}

.stu_pic5{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQGSrzpj_5VCEw/profile-displayphoto-shrink_400_400/0/1608988792112?e=1644451200&v=beta&t=lDN8a78SkzSvOjdE3R_OPRf9CZ4RaSz0o2QTvH1Wk5s);
}

.stu_pic6{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHGri7TIBQ5Pg/profile-displayphoto-shrink_400_400/0/1599371868986?e=1644451200&v=beta&t=oocrCHiM-QkNLvGHyHc1hNLCfKYR86fU_sgWTy3nzYw);
}

.stu_pic7{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQFFoHd2jEE8Yg/profile-displayphoto-shrink_400_400/0/1624692163763?e=1644451200&v=beta&t=dwVn_OP0gNctH-EL7FzWh9k5dQuM4AKCCF8iUpKmesg);
}

.stu_pic8{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQFG_EVQIpP5ng/profile-displayphoto-shrink_400_400/0/1620310206970?e=1644451200&v=beta&t=bmv7ye294BuoeWbfBrxmhsIOrV-oc4ELEPEtNHmrEL8);
}

.stu_pic9{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQFvIM-9FDjslg/profile-displayphoto-shrink_400_400/0/1576609354180?e=1644451200&v=beta&t=S5tVM8Tbq0nFZ0tYqFWGBi4davI12DCTZn-jCi0zSrs);
}

.stu_pic10{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQFWaAJpyuSY-A/profile-displayphoto-shrink_400_400/0/1608270102287?e=1644451200&v=beta&t=8OHm-VvsciQbSxhsAnXnGhD3iokgKmlvsh-elC82Km4);
}

.stu_pic11{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHeSklkZGhubw/profile-displayphoto-shrink_400_400/0/1575613622026?e=1644451200&v=beta&t=-dnwRqRuYpYIbCC8vNPbfPapHXNj17xMYN-12M7mrjw);
}


.stu_pic12{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQE9ZVnce5AhoQ/profile-displayphoto-shrink_400_400/0/1613812558571?e=1641427200&v=beta&t=AwboCUsCG3PA1ZSnU1ZvPUb1b-bAjIl942yzJ89JNFk);
}
.stu_pic13{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQGWQekqKCjmMw/profile-displayphoto-shrink_400_400/0/1591901851217?e=1641427200&v=beta&t=XQaQ_UHNXLM4CguxHUok8DDm9sc47vEZxQTWVPgIBIA);
}