*{
    margin: 0px;
    padding:0px;
}
.header{
    width:100%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(vit2.jpg);
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
}

nav img{
    width:150px;
}

nav img:hover{
    transform: scale(1.1);
    transition: 1s;
}

nav-links{
    flex:1;
    text-align: right;   

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

.name{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 160px;
    padding-left: 20px;
    width:10%;
    height:50px;
}

.credit_suisse{
    display: flex;
    flex-wrap: wrap;
}

.student{
    width:20%;
    height: 350px;
    margin:15px;
    padding:15px;
}

.stu_pic1{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQF7-nz-1TInYg/profile-displayphoto-shrink_400_400/0/1612294054646?e=1661990400&v=beta&t=LlUAEkfZUNtzwQbDr9is2JoT9xFgN2gustO9RlvCN4k);
}

.stu_name{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.stu_name:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.intern{
    margin-top: 5px;
    display: inline-block;
    text-decoration:none ;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    width: 20%;
    height: 40px;
    margin-left: 600px;
    line-height: 40px;
    font-size: 20px;
    background: white;
    position: relative;
    cursor:pointer;  
}

.intern:hover{
    background: transparent;
    color: white;
    transition: 1s;
}

.stu_pic2{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQEq7JfmQ3X23A/profile-displayphoto-shrink_400_400/0/1653625839760?e=1661990400&v=beta&t=8JjHwKJGbTGLNHUCa5RvpyX3oCex275wzsUCUVENwjw);
}

.stu_pic3{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHSNwgR2sDSxg/profile-displayphoto-shrink_400_400/0/1611901875812?e=1661990400&v=beta&t=tpNyVSxpNuwV3hfNSHzKuLYM01ItCpy2b1Ebw9IvW4Q);
}

.stu_pic4{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQGBs6geqLcF0Q/profile-displayphoto-shrink_400_400/0/1636369584023?e=1661990400&v=beta&t=bUxeZel-LrNHKdPvfsokU0xuMQBxcDuTk7K0q9BHm90);
}

.stu_pic5{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQHj-tDtQuoHzw/profile-displayphoto-shrink_400_400/0/1594293650101?e=1661990400&v=beta&t=Tih6_Bgoo1aM61sBDdN7-46DP_3MoBPVvFqQMofZZhA);
}

.stu_pic6{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQGsSybhHOBSWg/profile-displayphoto-shrink_400_400/0/1605358803655?e=1661990400&v=beta&t=gGgSkYdWgmjoOfrBFWmdX_dP23hX78w-WdfnOrS-iLY);
}

.stu_pic7{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQG-ZAiZDnVvOA/profile-displayphoto-shrink_400_400/0/1582822940064?e=1661990400&v=beta&t=25Wzs5yALrY_pn8JV90HeQzAFOU5kYxhJ7naX0nJtEU);
}

.stu_pic8{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQFkTaQcVmxalQ/profile-displayphoto-shrink_400_400/0/1648648322939?e=1661990400&v=beta&t=dbhADy6kmGmxqdsRlML0iQHpXN8vu-q-P6_L2oANxb4);
}

.stu_pic9{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQGRE5wzKtZnOA/profile-displayphoto-shrink_400_400/0/1532684455130?e=1661990400&v=beta&t=1acqFxAeqCkjQoymxOWl75EVd_6MlbL-USfSLr-e3oc);
}

.stu_pic10{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQHk7XxGD6aX6g/profile-displayphoto-shrink_400_400/0/1641025008930?e=1661990400&v=beta&t=OHbyLb6Ycvd7pFG1x6QxgPJFHxRAv15m9DhYXrxVsoo);
}

.stu_pic11{
    width:100%;
    height: 300px;
    padding: 2px;
    background-position: center center;
    margin-bottom: 2px;
    background-size: cover;
    background-image: url(https://media-exp1.licdn.com/dms/image/C5103AQHW_cR6Ih0rfg/profile-displayphoto-shrink_400_400/0/1533376226715?e=1661990400&v=beta&t=JQIqAEPwCmCzapwOtURET3JVfi92CWdgtxWpaHclGyw);
}
